site_name: Entropianism
site_url: https://entropianism.org
site_description: A scientific techno-religion based on thermodynamics and determinism. Founded by technoprophet Oleg Ponfilenok.
site_author: Oleg Ponfilenok

repo_url: https://github.com/oponfil/entropianism
repo_name: oponfil/entropianism

theme:
  name: material
  language: en
  custom_dir: docs/overrides
  
  # Логотип (изображение) - раскомментируйте и укажите путь к изображению
  # logo: assets/images/logo.png
  
  # Иконка из Material Icons
  icon:
    logo: material/fire
  
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  font:
    text: Roboto
    code: Roboto Mono
  
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - toc.integrate

plugins:
  - search:
      lang:
        - en
        - ru
  - i18n:
      docs_structure: suffix
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: en
          default: true
          name: English
          build: true
        - locale: ru
          name: Русский
          build: true
          site_name: Энтропианство
          nav_translations:
            Home: Главная
            The Textbook: Учебник
            Download: Скачать
          nav:
            - Главная: index.md
            - Учебник: textbook.md
            - Скачать: download.ru.md

nav:
  - Home: index.md
  - The Textbook: textbook.md
  - Download: download.md

extra:
  social:
    - icon: fontawesome/brands/telegram
      link: https://t.me/entropians
      name: Telegram
    - icon: fontawesome/brands/youtube
      link: https://youtube.com/@entropianism
      name: YouTube
    - icon: fontawesome/brands/github
      link: https://github.com/oponfil/entropianism
      name: GitHub
  
  alternate:
    - name: English
      link: /
      lang: en
    - name: Русский
      link: /ru/
      lang: ru
  
  # Дополнительные настройки для улучшения превью
  version: 2025
  generator: false
  analytics:
    provider: false

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 2
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_css:
  - assets/stylesheets/extra.css

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

copyright: Copyright &copy; 2024-2025 Church of Accelerating Entropy Production

